/* 全体 */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: serif;
  list-style: none;
  user-select: none;
}

body {
  background-color: #000000;
  box-sizing: border-box;
}

li {
  border: 1px solid rgba(0, 0, 0, 0.068);
}
/* /全体 */



/* ヘッダー */
header {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 0, 255);
}

header h1 {
  padding-left: 40px;
}

.fa-calculator {
  margin-right: 8px;
}
/* /ヘッダー */



/* 電卓部分 */
.container {
  height: 500px;
  width: 70%;
  margin: 80px auto 0;
  background-color: #efefef;
  position: relative;
  box-shadow: 12px 12px 120px -6px rgb(204, 204, 204);
}

.container li:hover, button:hover {
  opacity: .6;
  background-color: #fff;
}



/* 数字ボタン */
.number-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
}

.number-box ul {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.number-box li {
  width: 30%;
  cursor: pointer;
  text-align: center;
}

.number-box li:nth-child(10), li:nth-child(12) {
  pointer-events: none;
}
/* /数字ボタン */

/* イコールボタン */
#enter {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25%;
  font-size: 40px;
  border: 4px solid rgba(0, 0, 0, 0.082);
}
/* /イコールボタン */


/* オプション */
.option {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.option ul {
  display: flex;

}

.option li {
  width: 25%;
  text-align: center;
  font-size: 40px;
}
/* オプション */


/* クリアボタン */
.clear-row {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.clear-row ul {
  display: flex;
  justify-content: space-between;
}

.clear-row li {
  width: 30%;
  text-align: center;
  font-size: 32px;
}
/* /クリアボタン */


/* ディスプレイ */
.display {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: black;
  color: #fff;
  padding: 8px;
  text-align: center;
  font-size: 22px;
  height: 36px;
}
/* /ディスプレイ */



/* レスポンシブ */
@media (max-width: 900px) {
  h1 {
    text-align: center;
    transform: translateX(-5%);
  }

  .container {
    width: 90%;
  }

  .display {
    width: 80%;
  }
}
/* /レスポンシブ */